In [109]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data_path = "data.xlsx"
data = pd.read_excel(data_path)
print(data.head())

   user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
0  1069124     1          0       130              1              20
1  1119715     1          0        93              2              22
2  1144181     1          0        21              2              18
3  1435133     1          0       355              2              10
4  1015700     1          0       276              5              14

In [6]:
data.describe()

,user_id,test,converted,tot_impr,mode_impr_day,mode_impr_hour
count,5.881010e+05,588101.000000,588101.000000,588101.000000,588101.000000,588101.000000
mean,1.310692e+06,0.960000,0.025239,24.820876,4.025533,14.469061
std,2.022260e+05,0.195959,0.156850,43.715181,2.004019,4.834634
min,9.000000e+05,0.000000,0.000000,1.000000,1.000000,0.000000
25%,1.143190e+06,1.000000,0.000000,4.000000,2.000000,11.000000
50%,1.313725e+06,1.000000,0.000000,13.000000,4.000000,14.000000
75%,1.484088e+06,1.000000,0.000000,27.000000,6.000000,18.000000
max,1.654483e+06,1.000000,1.000000,2065.000000,7.000000,23.000000

# Q1.

In [72]:
total_num_users = data.shape[0]
total_conversions = data[data['converted'] == 1].shape[0]
test_group = data[data['test'] == 1]
control_group = data[data['test'] == 0]
test_group_count, control_group_count = test_group.shape[0],  control_group.shape[0]
converted_from_test_grp = test_group[test_group['converted'] == 1]
converted_from_test_grp_count = converted_from_test_grp.shape[0]
converted_from_control_grp = control_group[control_group['converted'] == 1]
converted_from_control_grp_count = converted_from_control_grp.shape[0]
print(f'Total number of identified users: {total_num_users}')
print(f'Total number of converted users: {total_conversions}\n')
print(f'Total number of users exposed to advertising (Test Group): {test_group_count}')
print(f'Total number of users not exposed to advertising (Control Group): {control_group_count}\n')
print(f'Number of Users that bought the handbag in Test Group: {converted_from_test_grp_count}')
print(f'Number of Users that bought the handbag in Control Group: {converted_from_control_grp_count}\n')

percent_conv_rate_test = converted_from_test_grp_count / test_group_count
percent_conv_rate_control = converted_from_control_grp_count / control_group_count
print(f'Percentage convertion rate of users (Test Group): {round(percent_conv_rate_test * 100, 4)} %')
print(f'Percentage convertion rate of users (Control Group): {round(percent_conv_rate_control * 100, 4)}%')

Total number of identified users: 588101
Total number of converted users: 14843

Total number of users exposed to advertising (Test Group): 564577
Total number of users not exposed to advertising (Control Group): 23524

Number of Users that bought the handbag in Test Group: 14423
Number of Users that bought the handbag in Control Group: 420

Percentage convertion rate of users (Test Group): 2.5547 %
Percentage convertion rate of users (Control Group): 1.7854%

# Q2 (a)

In [73]:
num_users_converted_in_test_group_if_no_ad = percent_conv_rate_control * test_group_count
num_users_converted_in_test_group_with_ad = converted_from_test_grp_count
net__additional_num_user_converted = num_users_converted_in_test_group_with_ad - num_users_converted_in_test_group_if_no_ad
converting_user_worth = 40
print(f"Number of users converted in test group if no ad: {num_users_converted_in_test_group_if_no_ad}")
print(f"Number of users converted in test group with ad: {num_users_converted_in_test_group_with_ad}")
print(f"Net additional numbber of users converted in test group due to ad: {net__additional_num_user_converted}")
print(f"Converting user worth: $ {converting_user_worth}")
total_profit = (net__additional_num_user_converted * converting_user_worth)
print(f"Total profit: $ {round(total_profit, 4)}")

Number of users converted in test group if no ad: 10080.017854106443
Number of users converted in test group with ad: 14423
Net additional numbber of users converted in test group due to ad: 4342.982145893557
Converting user worth: $ 40
Total profit: $ 173719.2858

# Q2 (b)

In [74]:
tot_impr = data['tot_impr'].sum()
avg_cpm = 9
total_ad_cost = avg_cpm * (tot_impr / 1000)
print(f"Total number of impressions: {tot_impr}")
print(f"Average CPM: {avg_cpm}")
print(f"Total ad cost: $ {total_ad_cost}")

Total number of impressions: 14597182
Average CPM: 9
Total ad cost: $ 131374.638

# Q2 (c)

In [77]:
net_profit = total_profit - total_ad_cost
total_ROI = (net_profit / total_ad_cost) * 100
print(f"Net Profit: $ {round(net_profit, 4)}")
print(f"Total Cost: $ {total_ad_cost}\n")
print(f"Total ROI: {round(total_ROI, 4)} %")

Net Profit: $ 42344.6478
Total Cost: $ 131374.638

Total ROI: 32.232 %

# Q2 (d)

In [88]:
total_conversion_in_control_group_if_it_was_test = (control_group_count * percent_conv_rate_test)
curr_converion_control_group = converted_from_control_grp_count
additional_conversion_if_no_control_group = total_conversion_in_control_group_if_it_was_test - curr_converion_control_group
opportunity_cost_if_no_control_group = additional_conversion_if_no_control_group * converting_user_worth
print(f"Total number of conversions in control group with test group convertion rate: {round(total_conversion_in_control_group_if_it_was_test, 4)}")
print(f"Total number of conversions in control group without ads: {curr_converion_control_group}")
print(f"Additional conversions if no control group (one test group with all users): {round(additional_conversion_if_no_control_group, 4)}\n")
print(f"Opportunity cost (no control group): {round(opportunity_cost_if_no_control_group, 4)}")

Total number of conversions in control group with test group convertion rate: 600.9573
Total number of conversions in control group without ads: 420
Additional conversions if no control group (one test group with all users): 180.9573

Opportunity cost (no control group): 7238.2908

# Q3 (a)

In [ ]:
def plot(df, grp, num_buckets):
    df['impr_bucket'] = pd.cut(df['tot_impr'], bins=num_buckets)
    grouped = df.groupby('impr_bucket')['converted'].agg(['sum', 'count']).reset_index()
    grouped['conversion_rate'] = grouped['sum'] / grouped['count']
    grouped['bucket_midpoint'] = grouped['impr_bucket'].apply(lambda x: (x.left + x.right) / 2)
    plt.figure(figsize=(12, 6))

    bars = plt.bar(grouped['bucket_midpoint'], grouped['conversion_rate'], 
                   width=(grouped['bucket_midpoint'][1] - grouped['bucket_midpoint'][0]), 
                   color='green', edgecolor='black')

    # Add text labels on top of bars
    for bar, rate in zip(bars, grouped['conversion_rate']):
        # Only add text if the rate is finite
        if not (np.isnan(rate) or np.isinf(rate)):
            plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height() + 0.003, 
                     f"{rate:.2%}", ha='center', va='bottom', fontsize=8, color='black')

    x_ticks = grouped['bucket_midpoint']
    plt.xticks(x_ticks, [f"{mid:.0f}" for mid in x_ticks], fontsize=10, rotation=45)

    plt.title(f"Conversion rate by total impressions for {grp} group", fontsize=14)
    plt.xlabel("Total Impressions", fontsize=12)
    plt.ylabel("Conversion Rate", fontsize=12)
    plt.xticks(fontsize=8)
    plt.yticks(fontsize=8)
    plt.grid(axis='y', linestyle='--', alpha=0.7)

    # Show the plot
    plt.tight_layout()
    plt.show()

buckets = 7
plot(control_group.copy(), 'control', buckets)
plot(test_group.copy(), 'test', buckets)

AttributeError: 'DataFrame' object has no attribute 'left'

In [89]:
data

        user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
0       1069124     1          0       130              1              20
1       1119715     1          0        93              2              22
2       1144181     1          0        21              2              18
3       1435133     1          0       355              2              10
4       1015700     1          0       276              5              14
...         ...   ...        ...       ...            ...             ...
588096  1278437     1          0         1              2              23
588097  1327975     1          0         1              2              23
588098  1038442     1          0         3              2              23
588099  1496395     1          0         1              2              23
588100  1237779     1          0         1              2              23

[588101 rows x 6 columns]