In [1]:
import pandas as pd

In [4]:
data_path = "data.xlsx"
data = pd.read_excel(data_path)
data.head()

   user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
0  1069124     1          0       130              1              20
1  1119715     1          0        93              2              22
2  1144181     1          0        21              2              18
3  1435133     1          0       355              2              10
4  1015700     1          0       276              5              14

In [16]:
advertising_group = data[data["test"] == 1]
advertising_group.head()

   user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
0  1069124     1          0       130              1              20
1  1119715     1          0        93              2              22
2  1144181     1          0        21              2              18
3  1435133     1          0       355              2              10
4  1015700     1          0       276              5              14

In [17]:
num_converted_ads = advertising_group[advertising_group["converted"] == 1]
converted_ads = len(num_converted_ads)
total_ads = len(advertising_group)
print("Number of consumers shown ads: ", total_ads)
print("Number of consumers conveted from ads: ", converted_ads)

Number of consumers shown ads:  564577
Number of consumers conveted from ads:  14423

In [18]:
perc_people_bought_ads = converted_ads / total_ads
print("Percentage conversion with ads: ", perc_people_bought_ads * 100, "%")

Percentage conversion with ads:  2.5546559636683748 %

In [19]:
control_group = data[data["test"] == 0]
control_group.head()

     user_id  test  converted  tot_impr  mode_impr_day  mode_impr_hour
18    900681     0          0       248              6              19
38    905704     0          0        27              4               8
68    904595     0          0        13              2              19
140   901904     0          0        32              3              19
157   902234     0          0       105              2              19

In [20]:
num_converted_no_ads = control_group[control_group["converted"] == 1]
converted_no_ads = len(num_converted_no_ads)
total_no_ads = len(control_group)
print("Number of consumers in control group: ", total_no_ads)
print("Number of consumers converted from control group: ", converted_no_ads)

Number of consumers in control group:  23524
Number of consumers converted from control group:  420

In [21]:
perc_people_bought_control = converted_no_ads / total_no_ads
print("Percentage converted from control: ", perc_people_bought_control * 100, "%")

Percentage converted from control:  1.785410644448223 %

## Q1. 

Yes, the advertising campaign was effective since `perc_people_bought_ads` > `perc_people_bought_control`. Due to the same reason, we can say that additional consumers converted as a result of the ad campaign.